---
import { SSApiService } from "#/lib/ss-api";
import Layout from "#/layouts/layout.astro";
import Container from "#/components/container.astro";
import { Image } from "astro:assets";
import { getHumanDate } from "#/lib/utils";
import Card from "#/components/card.astro";

export const prerender = false;

const ssApi = new SSApiService();

const seo = await ssApi.seo();
const sites = await ssApi.index();
---

<Layout count={sites.count} activeCategory={"/"}>
  <head slot="head">
    <title>{seo.seo_title}</title>
    <meta name="description" content={seo.seo_description} />
    <meta property="og:title" content={seo.seo_title} />
    <meta property="og:description" content={seo.seo_description} />
    <meta property="og:image" content={seo.seo_image} />
    <meta property="og:url" content={seo.site_url} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={seo.seo_title} />
    <meta name="twitter:description" content={seo.seo_description} />
    <meta name="twitter:image" content={seo.seo_image} />
    <meta name="twitter:url" content={seo.site_url} />
    <link rel="canonical" href={seo.site_url} />
  </head>
  <Container>
    {
      sites.sites.map((site) => (
        <Card
          name={site.name}
          image_id={site.image_id}
          cdn={sites.cdn}
          created_at={site.created_at}
          updated_at={site.updated_at}
        />
      ))
    }
  </Container>
</Layout>
