---
import { config } from "#/config.ts";
import Badge from "./badge.astro";
import Eyes from "#/assets/eyes.svg";
---

<section class="w-full border-b border-black/5">
  <div class="mx-auto w-full px-3 max-w-screen-2xl">
    <div
      class="grid w-full gap-12 pt-10 lg:grid-cols-3 lg:gap-3 lg:pt-0 xl:grid-cols-4"
    >
      <!-- Hero Header -->
      <header class="flex flex-col justify-end py-12 lg:pb-3 lg:pt-0">
        <div class="flex max-w-[288px] flex-col items-start gap-3">
          <div class="flex flex-col">
            <h1 class="text-2xl font-medium leading-tight opacity-50">
              {config.hero_title}
            </h1>
            <p class="text-2xl font-medium leading-[1.15]">
              {config.hero_subtitle}
            </p>
          </div>
        </div>
      </header>

      <!-- Featured Items Grid -->
      <div
        class="grid gap-3 pb-3 lg:col-span-2 lg:grid-cols-2 xl:col-span-3 xl:grid-cols-3"
      >
        <!-- Main Featured Item -->
        <div class="flex items-end justify-end xl:col-span-2">
          <div class="w-full xl:max-w-xl">
            <article class="group relative">
              <a
                href={config.featured_items[0].link}
                class="block"
                target="_blank"
              >
                <img
                  src={config.featured_items[0].poster}
                  alt={config.featured_items[0].title}
                  class="aspect-video h-auto w-full rounded object-cover transition-opacity duration-500 ease-out transform-gpu will-change-[opacity] group-hover:opacity-80"
                />
              </a>
              <div
                class="absolute sm:opacity-0 bottom-0 p-2 flex items-center justify-between w-full pointer-events-none sm:group-hover:opacity-100 transition-opacity duration-300"
              >
                <Badge cn="bg-background/80">
                  {config.featured_items[0].title}
                </Badge>
                <Badge
                  cn="bg-background/80 flex items-center justify-center size-[30px] rounded-full"
                >
                  <Eyes class={"!size-[20px]"} />
                </Badge>
              </div>
            </article>
          </div>
        </div>

        <!-- Secondary Featured Items -->
        <div class="grid gap-3 sm:grid-cols-2 lg:grid-cols-none">
          {
            config.featured_items.slice(1, 3).map((item) => (
              <article class="group relative">
                <a href={item.link} class="block" target="_blank">
                  <img
                    src={item.poster}
                    alt={item.title}
                    class="aspect-video h-auto w-full rounded object-cover transition-opacity duration-500 ease-out transform-gpu will-change-[opacity] group-hover:opacity-80"
                  />
                </a>
                <div class="absolute sm:opacity-0 bottom-0 p-2 flex items-center justify-between w-full pointer-events-none sm:group-hover:opacity-100 transition-opacity duration-300">
                  <Badge label={item.title} cn="bg-background/80">
                    {item.title}
                  </Badge>
                  <Badge cn="bg-background/80 flex items-center justify-center size-[30px] rounded-full">
                    <Eyes class={"!size-[20px]"} />
                  </Badge>
                </div>
              </article>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
